{{<layout}}

{{$pageTitle}}
	Bulk transactions for Fleets
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


	<h2 class="heading-large">Commercial services : Bulk licensing, etc</h2>

	<p>What: Using the fleet management (View Vehicle Record for Fleets) as a starting point for transactional services for bulk users.</p>

	<p>How: Looking at minimal re-invention and addition to enhance the fleet view for bulk VED, bulk SORN, bulk dispose, bulk request V5C, etc.</p>

	<ol class="list-number">
		<li>
			<a href="/examples/elements/start">Start page</a><br />
			Minor copy changes, aligning naming of possible forms user may have with naming elsewhere, added "!" warning about using documents with your name on.
		</li>

		<li>
			<a href="/examples/elements/view">Default view, all vehicles</a><br />
			Once authenticated, user has an overview of the fleet.
		</li>
		

	</ol>


	<h2 class="heading-medium" style="padding-top:2em">Rest of EVL flow...</h2>

	<ol class="list-number">
		<li>
			<a href="/examples/elements/evl-vehicle-details">Vehicle details</a><br />
			Show regmark, vehicle make, class, status page 
		</li>

		<li>
			<a href="/examples/elements/evl-renewal-period">Renewal period</a><br />
			User chooses between 6/12 month and Direct Debit annual, 6 or monthly
		</li>

		<li>
			<a href="/examples/elements/evl-renewal-period-check">Renewal period check</a><br />
			Confirm vehicle, payment, period + add email or mobile for receipt 
		</li>

		<li>
			<a href="/examples/elements/evl-pay-card">Pay (cards)</a><br />
			Payment form for cards 
		</li>



	</ol>





	<h2 class="heading-medium" style="padding-top:2em">To do</h2>

	<ul class="list-bullet">
		<li>
			Mocking up basic vehicle list pages from VVR Fleets 
		</li>
		
	</ul>





	<h2 class="heading-medium">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/wiki">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>

</main>

{{/content}}

{{/layout}}
